In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [16]:
# Reading data file
df = pd.read_csv("/Users/cristinasakamoto/Downloads/data.long.csv")
df.head()

,Unnamed: 0,zip,MedAge2k,pctba2k,pctba90,racediversity2k,racediversity90,medrent2k,medrent90,medhhinc2k,...,Long,Location,TotalWages,time,JobsT,ArtsN,ArtsW,JobsN,JobsW,ArtSupport
0,1001.1998,1001,42.1,22.069470,20.088692,0.097185,0.051756,669.0,546.0,45735.0,...,-72.61,NA-US-MA-AGAWAM,337735143.0,1998,8129.0,143.5,974.5,7985.5,7154.5,831.0
1,1002.1998,1002,21.9,68.528668,65.038314,0.385330,0.302274,688.0,510.0,42567.0,...,-72.52,NA-US-MA-AMHERST,415081243.0,1998,7601.5,129.0,1248.5,7472.5,6353.0,1119.5
2,1003.1998,1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-72.52,NA-US-MA-AMHERST,NaN,1998,NaN,NaN,NaN,NaN,NaN,NaN
3,1004.1998,1004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-72.52,NA-US-MA-AMHERST,17272423.0,1998,NaN,NaN,NaN,NaN,NaN,NaN
4,1005.1998,1005,37.2,20.519713,22.017723,0.054864,0.035709,593.0,431.0,50395.0,...,-72.10,NA-US-MA-BARRE,93221235.0,1998,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df.columns.values

array(['Unnamed: 0', 'zip', 'MedAge2k', 'pctba2k', 'pctba90',
       'racediversity2k', 'racediversity90', 'medrent2k', 'medrent90',
       'medhhinc2k', 'medhhinc90', 'meantrav2k', 'meantrav90',
       'medlengthres2k', 'meanlengthres90', 'pctsamehouse2k',
       'pctsamehouse90', 'pctfemale2k', 'pctfemale90', 'pctmarried2k',
       'pctmarried90', 'pctchild2k', 'pctchild90', 'pctunemp2k',
       'pctunemp90', 'diversityfb2k', 'diversityanc90', 'pctrental2k',
       'pctrental90', 'pctpov2k', 'pctpov90', 'pctbike2k', 'pctbike90',
       'pctdrove2k', 'pctdrove90', 'pctwalk2k', 'pctwalk90', 'density2000',
       'density1990', 'housingdensity2000', 'housingdensity1990',
       'Pop2000', 'Pop1990', 'RentMed', 'Democ92', 'NonWhite_90',
       'CollProfLv90', 'CrimeRate1999county', 'ARTGOSLG98', 'ZipCodeType',
       'City', 'State', 'LocationType', 'Lat', 'Long', 'Location',
       'TotalWages', 'time', 'JobsT', 'ArtsN', 'ArtsW', 'JobsN', 'JobsW',
       'ArtSupport'], dtype=object)

In [19]:
df['ArtsN'].autocorr(lag=1)

0.30718593044513237